@model KurumsalProjem.Northwind.MvcWebUI.Models.ProductListViewModel

    @{ 
        Layout = "~/Views/_Layout.cshtml";
    }
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <table class="table table-reponsive">
            <tr>
                <td>Product Name</td>
                <td>Unit Price</td>
                <td>Units In Stock</td>
                <td></td>
            </tr>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.UnitsInStock</td>
                    <td><a class="btn btn-xs btn-success" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.ProductId">add to cart</a></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
<product-list-pager current-category="Model.CurrentCategory" current-page="@Model.CurrentPage" page-count="@Model.PageCount" page-size="@Model.PageSize" ></product-list-pager>